[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/jeffw387/glfw.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/jeffw387/spdlog.git
[submodule "external/outcome"]
	path = external/outcome
	url = https://github.com/ned14/outcome.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/jeffw387/stb.git
[submodule "external/msdfgen"]
	path = external/msdfgen
	url = https://github.com/jeffw387/msdfgen.git
